body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.limitLength {
    width: 12em;
}

h1 {
    margin: 80px 30px 30px;
}

#operationForm, #calcResult, #historical {
    margin: 30px;
}

calculatorGrid {
    display: flex;
    justify-content: space-around;
}

button {
    width: 100%;
    max-width: 36px;
    margin: 2px;
}